<div class="container">
  <header>
    <nav>
      <a href="#"><span style="font-family: 'Pacifico', cursive;">Excel Easily</span></a>
    </nav>
  </header>

  <section id="section-welcome">
    <h1 style="font-size: 12px;">Welcome</h1>
    <h4>
      <p><span style="font-family: 'Pacifico', cursive;"></span>to</p>
    </h4>
    <h1>Excel Easily</h1>
    <p>The Educational Consulting Partner you can Trust.</p>
  </section>

  <section id="section-socialmedia" class="flex-container">
    <div class="social-media-links">
      <a href="https://www.facebook.com/exceleasily" target="_blank">
        <img src="assets/images/facebook-icon.png" alt="Facebook" width="40" height="40">
      </a>
      <a href="https://www.twitter.com/exceleasily" target="_blank">
        <img src="assets/images/twitter-icon.png" alt="Twitter" width="40" height="40">
      </a>
      <a href="https://www.linkedin.com/company/exceleasily" target="_blank">
        <img src="assets/images/linkedin-icon.png" alt="LinkedIn" width="40" height="40">
      </a>
      <a [href]="'https://api.whatsapp.com/send?phone=+393511420288&text=Hello%20there!'" target="_blank">
        <img src="assets/images/whatsapp-logo.png" alt="WhatsApp" width="40" height="40">
      </a>
    </div>
  </section>

  <section id="section-advert" class="flex-container">
    <h2>Discover Your Path to Success with Our Comprehensive Services</h2>
    <p>Unlock your full academic potential with our team of dedicated professionals. We specialize in providing expert
      guidance and counseling services tailored to help individuals achieve their dream of earning a university degree and other University credentials seamlessly.</p>
    <p>We also offer tailored guidelines and tutorials for individuals interested in boosting their academic credentials in lucrative specializations.</p>
    <br>
    <br>
    <p>In addition, we offer cutting-edge online education services, empowering you to learn on your own terms...</p>
    <p>Our services are meticulously designed to accommodate the busiest of students, offering thoughtfully crafted online education solutions that enhance your academic journey and uphold the highest standards of integrity, promoting a culture of originality, zero tolerance on plagiarism and ethical academic excellence.</p>
  </section>

  <section id="section-contact" class="flex-container">
    <br class="container">
    <div>
      <a [routerLink]="['/contact-form']">For enquiries click to send us a message </a>
      <div class="contact-details">
        <p>If you have any questions or need more information, feel free to contact us:</p>
        <address>
          Email: <a href="mailto:info@exceleasily.com">info@exceleasily.com</a><br>
          Phone: <a href="tel:+393511420288">+39 (351) 142-0288</a><br>
        </address>
      </div>
    </div>
  </section>

  <section id="section-socialmedia-bottom" class="flex-container">
    <a href="https://www.facebook.com/exceleasily" target="_blank">
      <img src="assets/images/facebook-icon.png" alt="Facebook" width="40" height="40">
    </a>
    <a href="https://www.twitter.com/exceleasily" target="_blank">
      <img src="assets/images/twitter-icon.png" alt="Twitter" width="40" height="40">
    </a>
    <a href="https://www.linkedin.com/company/exceleasily" target="_blank">
      <img src="assets/images/linkedin-icon.png" alt="LinkedIn" width="40" height="40">
    </a>
    <a [href]="'https://api.whatsapp.com/send?phone=+393511420288&text=Hello%20there!'" target="_blank">
      <img src="assets/images/whatsapp-logo.png" alt="WhatsApp" width="40" height="40">
    </a>
  </section>

  <footer>
    &copy; 2023 Excel Easily. All rights reserved.
  </footer>
</div>
